html {
  font-family: Courier New, monospace;
}

body {
  margin: 100px;
}

img {
  width: 250px;
  margin-top: 50px;
  margin-right: 100px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 700px;
}

span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: #000;
  display: block;
  border: 4px solid #000;
  text-align: center;
}

.not-p {
  position: relative;
  top: -125px;
  left: -47px;
}



.not-out {
  position: relative;
  top: -165px;
  left: 249px;
}

.header-color {
  background-color: #aaa;
}

.active {
  background-color: #4dff88;
}
